<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.integration.client.user.mapper.ClientUserMapper">

    <select id="selectByOpenid" resultType="com.integration.client.user.entity.ClientUser">
        SELECT *
        FROM client_user
        WHERE openid = #{openid}
        LIMIT 1
    </select>

</mapper>
